

.box{
    position: relative;
    width: 1000px;
    height: 750px;
    margin:auto;
	padding: 0;
	background: #262626;
}



.ball {
	position: absolute;
	width: 150px;
	height: 150px;
	background: #c9f364;
	border-radius: 50%;
    left: 0;
    top: 0;
    overflow: hidden;
	animation: x 4s  infinite linear,y 4s infinite cubic-bezier( 0.3, 0, 0.65, 0.86 )  ,smash 4s infinite linear
    
}
/* //cubic-bezier(0.47, -0.03, 0.57, 0.90) */

.ball:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border: 5px solid #fff;
	border-radius: 50%;
	box-sizing: border-box;
	background: transparent;
	left: -65%;
	filter: blur(1px);
}
.ball:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border: 5px solid #fff;
	border-radius: 50%;
	box-sizing: border-box;
	background: transparent;
	right: -65%;
	filter: blur(1px);
}


/* cubic-bezier(0.6, 0.6, 0.5, 0.9); cubic-bezier(0.8, 0.7, 0.6, 1); cubic-bezier( 0.27, 0.77, 0.95, 0.99 )*/

 @keyframes x {
     0%{
         left: 0px;
     }
    10%{
        left: 250px;
    }

    20%{
        left:400px;
    }

    35%{
        left:650px;
    }

    40%{
        
    }

    50%{
        left:850px;
    }

    55%{
        left: 750px;
    }

    75%{
        left: 425px;
    }
    90%{
        left:275px;
    }

    100%{
        left: 0px;
    }
}  

@keyframes y {
    0%{
        top: 200px;
        transform: rotate(0deg);
    }
   
    10%{
        top: 0px;
              
    }
   
    20%{
        top: 600px;
                
    }
   
    35%{
        top: 150px;
        
    }

    50%{
        top: 500px;
        transform: rotate(360deg);
    }

    55%{
        top: 600px;
    }

    75%{
        top: 200px;
        
    }

    90%{
        top: 600px;
    }
    100%{
        top: 200px;
   }
        
   

}

